  <!-- esse produto é a variavel que recebe produtos-->
      <!-- esse produto é a variavel que recebe produtos-->
      <section class="product-list">                            <!-- esse produtos criamos essa variavel na classe que recebeu a lista-->
        <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
          <a routerLink= "corte" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
            <img src="./assets/1.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
            <h2 class="product-item__name">Cortes</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
            <button class="product-item__buy-button" type="button">Veja mais</button>
          </a>
        </div>
        <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
          <a routerLink= "platinado" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
            <img src="./assets/2.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
            <h2 class="product-item__name">Platinado</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
            <button class="product-item__buy-button" type="button">Veja mais</button>
          </a>
        </div>
        <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
          <a routerLink= "progressiva" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
            <img src="./assets/3.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
            <h2 class="product-item__name">Progressiva</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
            <button class="product-item__buy-button" type="button">Veja mais</button>
          </a>
        </div>
        <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "luzes" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/4.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">Luzes</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "alisamentoAmericano" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/5.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">Alisamento Americano</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "pigmentacao" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/6.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">Pigmentação</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "freeStyle" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/7.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">FreeStyle</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
          



      </section>